# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

# VSCode & Webstorm history directories
.history
.idea

# Ignore public folder, since everything must be bundled from resources folder
public/*

# macOS
*.DS_Store
