<article class="card hoverable">
  <div class="card-content">
    <a href="{{ route('category') }}">
      <span class="card-title">{{ name }}</span>
    </a>
    <p>- no threads yet -</p>
  </div>
</article>
