<article class="card hoverable">
  <div class="card-content">
    <a href="{{ route('thread') }}">
      <span class="card-title">{{ title }}</span>
    </a>
    <p>{{ description }}</p>
    <p>Author: {{ author }}</p>
  </div>
</article>
